In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

# Preprocessing
from sklearn.preprocessing import MinMaxScaler

# Train, Test
from sklearn.model_selection import train_test_split

# Clasificadores
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsClassifier, NearestCentroid
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

# Metricas para Clasificadores
from sklearn.metrics import jaccard_score, accuracy_score, recall_score, confusion_matrix, f1_score, precision_score

In [2]:
# Cargamos nuestro dataframe

df = pd.read_csv("Data/MeneosCompleto.csv", delimiter=";")

df.head(3)

,Titular,Medio,URL,Enviado,Publicado,Meneos,Clicks,Positivos,Anonimos,Negativos,Comentarios,Karma
0,Que arresten a los líderes de Israel por críme...,ctxt.es,https://old.meneame.net/story/arresten-lideres...,1.715372e+09,1.715379e+09,81,111.0,51.0,30.0,4.0,11.0,463.0
1,El pelotazo de los curas salesianos con una pi...,elsaltodiario.com,https://old.meneame.net/story/pelotazo-curas-s...,1.715368e+09,1.715378e+09,73,336.0,43.0,30.0,3.0,20.0,441.0
2,Países Bajos no participa en el segundo ensayo...,hoy.es,https://old.meneame.net/story/paises-bajos-no-...,1.715374e+09,1.715376e+09,123,1275.0,72.0,51.0,3.0,39.0,460.0

In [3]:
def limpieza_datos(df):
    #Limpieza de duplicados
    df.drop_duplicates()

    #Elimina las filas con valores NaN de las columnas que no son Clicks.
    lista_columnas = df.columns.to_list()
    lista_columnas.remove("Clicks")

    for columna in lista_columnas:
        lista_indices = df[df[columna].isna() == True].index.tolist()
        df = df.drop(index = lista_indices)

    # Creamos la columna delay que es el tiempo que transcurre entre que se envía el meneo y se publica
    df["Delay"] = df["Publicado"] - df["Enviado"]
    
    #Eliminación de columnas innecesarias
    df = df.drop(columns=["Medio", "Positivos", "Anonimos", "Publicado", "Enviado"], axis=1)
    
    # Separamos nuestro dataframe en uno de train, test y otro de predicción
    df_pred = df[df["Clicks"].isna() == True]
    df_tt = df[df["Clicks"].isna() == False]

    # Eliminación de outliers
    df_tt = df_tt[df_tt["Meneos"].between(50, 3000)]
    df_tt = df_tt[df_tt["Negativos"] <= 13]
    df_tt = df_tt[df_tt["Comentarios"].between(10, 150)]
    df_tt = df_tt[df_tt["Karma"].between(230, 700)]
    df_tt = df_tt[df_tt["Delay"].between(155, 69761)]
    
    return(df_tt)

In [4]:
# Le aplicamos la función de limpieza de datos 

df_tt = limpieza_datos(df)

df_tt.head(3)

,Titular,URL,Meneos,Clicks,Negativos,Comentarios,Karma,Delay
0,Que arresten a los líderes de Israel por críme...,https://old.meneame.net/story/arresten-lideres...,81,111.0,4.0,11.0,463.0,7655.0
1,El pelotazo de los curas salesianos con una pi...,https://old.meneame.net/story/pelotazo-curas-s...,73,336.0,3.0,20.0,441.0,10093.0
2,Países Bajos no participa en el segundo ensayo...,https://old.meneame.net/story/paises-bajos-no-...,123,1275.0,3.0,39.0,460.0,1683.0

In [ ]:
# Visualizacion de la columna clicks para decidir en cuántos grupos dividirla

px.histogram(df_tt["Clicks"], marginal="box")

In [8]:
df_tt["Clicks"].describe()

count    137866.000000
mean       4612.925979
std        4578.209910
min         111.000000
25%        1683.000000
50%        3057.000000
75%        5782.000000
max      239917.000000
Name: Clicks, dtype: float64

In [9]:
# Definimos una función para dividir la categoría clicks

stats_clicks = df_tt["Clicks"].describe()

def clusters_clicks(x):
    if stats_clicks["min"] <= x < stats_clicks["25%"]:
        return(0)
    elif stats_clicks["25%"] <= x < stats_clicks["50%"]:
        return(1)
    elif stats_clicks["50%"] <= x < stats_clicks["75%"]:
        return(2)
    else:
        return(3)

In [10]:
# Le aplicamos la función a la columna "Clicks"

df_tt["Clicks"] = df_tt["Clicks"].apply(lambda x: clusters_clicks(x))

In [11]:
df_tt

,Titular,URL,Meneos,Clicks,Negativos,Comentarios,Karma,Delay
0,Que arresten a los líderes de Israel por críme...,https://old.meneame.net/story/arresten-lideres...,81,0,4.0,11.0,463.0,7655.0
1,El pelotazo de los curas salesianos con una pi...,https://old.meneame.net/story/pelotazo-curas-s...,73,0,3.0,20.0,441.0,10093.0
2,Países Bajos no participa en el segundo ensayo...,https://old.meneame.net/story/paises-bajos-no-...,123,0,3.0,39.0,460.0,1683.0
3,Todos los israelíes están entrenados en hasbar...,https://old.meneame.net/story/todos-israelies-...,117,0,5.0,24.0,410.0,13713.0
4,Cuando Einstein llamó “fascistas” a los gobern...,https://old.meneame.net/story/cuando-einstein-...,260,0,2.0,17.0,461.0,26628.0
...,...,...,...,...,...,...,...,...
193672,"Yu Chan, la primera tortuga biónica devuelta a...",https://old.meneame.net/story/yu-chan-primera-...,290,2,1.0,37.0,536.0,31884.0
193674,Un mayordomo que aparca la bici y la deja niqu...,https://old.meneame.net/story/mayordomo-aparca...,667,3,0.0,59.0,655.0,5404.0
193675,¿Un melenudo nueva imagen de Pantene?,https://old.meneame.net/story/melenudo-nueva-i...,1220,3,4.0,113.0,605.0,17777.0
193678,En todo el Sistema Solar,https://old.meneame.net/story/en-todo-el-siste...,400,3,0.0,18.0,654.0,8895.0
193680,Un matrimonio denuncia a la embajada en Roma p...,https://old.meneame.net/story/matrimonio-denun...,877,2,1.0,51.0,682.0,10532.0

## CLASIFICACION ##

In [12]:
# Creamos una lista con los modelos que vamos a utilizar

clasificadores = [KNeighborsClassifier(),
                  RadiusNeighborsClassifier(radius=0.5),
                  NearestCentroid(),
                  LogisticRegression(),
                  GaussianNB(),
                  DecisionTreeClassifier(),
                  RandomForestClassifier(),
                  SVC(),
                  AdaBoostClassifier(algorithm = "SAMME"),
                  GradientBoostingClassifier()]

# Definimos nuestro conjunto de datos de entrenamiento 

X = df_tt.iloc[:, 2:].drop("Clicks", axis = 1)
y = np.array(df_tt["Clicks"])

# Normalización de los datos y separación en train, test
x_scaler_class = MinMaxScaler()
X = x_scaler_class.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)

datos_clf = list()

# Bucle con todos los modelos y guardado de las métricas

for clf in clasificadores:    
    clf.fit(X_train, y_train)
    
    yhat = clf.predict(X_test)
    
    jac = jaccard_score(y_test, yhat, average = "macro")
    acc = accuracy_score(y_test, yhat)
    rec = recall_score(y_test, yhat, average = "macro")
    cmx = confusion_matrix(y_test, yhat)
    f1_ = f1_score(y_test, yhat, average = "macro")
    pre = precision_score(y_test, yhat, average = "macro")
    
    datos_clf.append([str(clf), clf, jac, acc, rec, cmx, f1_, pre])
    
df_metrics = pd.DataFrame(data = datos_clf, columns = ["name", "clf", "jaccard", "accuracy", "recall",
                                                       "confusion_matrix", "f1_score", "precision"])

df_metrics.sort_values("accuracy", ascending = False)

c:\Users\deepi\anaconda3\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning:

The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.

,name,clf,jaccard,accuracy,recall,confusion_matrix,f1_score,precision
9,GradientBoostingClassifier(),([DecisionTreeRegressor(criterion='friedman_ms...,0.233440,0.388301,0.388323,"[[3768, 1094, 886, 1143, 0, 0], [2593, 1334, 1...",0.370679,0.372027
7,SVC(),SVC(),0.222090,0.384456,0.384489,"[[4226, 895, 512, 1258, 0, 0], [3016, 1182, 97...",0.352776,0.365204
8,AdaBoostClassifier(),"(DecisionTreeClassifier(max_depth=1, random_st...",0.223476,0.383042,0.383070,"[[3980, 833, 786, 1292, 0, 0], [2823, 1088, 12...",0.355951,0.366148
6,RandomForestClassifier(),"(DecisionTreeClassifier(max_features='sqrt', r...",0.224585,0.368209,0.368221,"[[3007, 1655, 1137, 1092, 0, 0], [2117, 1837, ...",0.362558,0.360372
3,LogisticRegression(),LogisticRegression(),0.200626,0.359034,0.359065,"[[3936, 822, 690, 1443, 0, 0], [3091, 946, 908...",0.322665,0.335239
2,NearestCentroid(),NearestCentroid(),0.192002,0.349423,0.349456,"[[3912, 946, 646, 1387, 0, 0], [3108, 892, 813...",0.310414,0.324727
4,GaussianNB(),GaussianNB(),0.174376,0.343693,0.343743,"[[4956, 348, 334, 1253, 0, 0], [4140, 296, 724...",0.281323,0.334134
0,KNeighborsClassifier(),KNeighborsClassifier(),0.197178,0.329985,0.330002,"[[3163, 1803, 1123, 802, 0, 0], [2462, 1959, 1...",0.327276,0.331062
1,RadiusNeighborsClassifier(),RadiusNeighborsClassifier(),0.143432,0.321607,0.321678,"[[5932, 256, 20, 683, 0, 0], [5276, 339, 36, 1...",0.230675,0.293927
5,DecisionTreeClassifier(),DecisionTreeClassifier(),0.178823,0.302350,0.302354,"[[2285, 1846, 1555, 1205, 0, 0], [1864, 1817, ...",0.302578,0.302848